body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: white;
  color: grey;
  font-family: sans-serif;
  font-size: 12px;
}

.hola {
  display: flex;
  justify-content: center;
}

#image {
  width: 60vw;
  max-width: 100%;
  min-width: 300px;
  heigth: auto;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 2em auto;
  display: block;
  justify-content: center;
  align-items: center;
}

#img-caption{
  text-align: center;
}

#tribute-info{
  padding: 3rem 6rem;
}

h1, h3 {
  text-align: center;
}

.definition {
  text-align: center;
  font-style: italic;
}

.text{
  text-align: center;
}

h2 {
  margin: 1em auto;
  text-align: center;
}

p {
  text-align: center;
}

.footer{
  padding: 2rem;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}

a:active {
  color: blue;
}
